h1 {
    background-color:aliceblue;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
    font-size: 5em;
    text-shadow: 3px 3px 3px black;
    color: #4FC1E8;
    margin: 15px;
    text-transform: none;
    text-align: center;
}

h3 {
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

div {
    width: 100%;
    margin: auto; /* Keskitetään div leveyssuunnassa */
    background-color:whitesmoke;
    padding: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;

    
}

.nav-link:hover {
    color: #4E4D50;
}

a:visited { /* linkin fontin väri */
    color: #4E4D50;

}

a:hover {
    color: #4E4D50;
    font-size: 21px;
    font-weight: bolder;
}


li a:hover { /* palkki hiiren päällä */
    background-color: #6cc0b8;
}

ul { /* linkkien palkki */
    background-color: #9cd4cc;
    font-size: 20px;
}

p {
    width: 100%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    background-color: whitesmoke;
    padding: 1em;

}


#oamk {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 1em;
    
}

footer img {
    float: right;
    height: 150px;
    width: 600px;
}

#button {
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
}

#button:hover {
    background-color: rgba(177, 172, 172, 0.705);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}