html {
    background-color: #4FC1E8;
}
h1 {
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
    font-size: 2.em;
    margin: 5px;
    text-transform: none;
}
div {
    width: 90%;
    margin: 0 auto; /*Keskitetään div leveyssuunnassa*/
    background-color:white;
    padding: 1em;
}
a {
    text-decoration: dashed;
    color:#A0D568;
}
a:hover {
    font-weight: bold;
    color: #4FC1E8;
}



/* 
Värit:
#AC92EB liila
#4FC1E8 SININEN
#A0D568 VIHREÄ
#FFCE54 KELTAINEN
#ED5564 PUNAINEN
*/ 