html {
    background-color: #4FC1E8;
    color: #AC92EB;
}
div {
    width: 90%;
    margin: 20px; /*Keskitetään div leveyssuunnassa*/
    background-color:white;
    padding: 1em;
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.em;
    text-transform: lowercase;
}


/* 
Värit:
#AC92EB liila
#4FC1E8 SININEN
#A0D568 VIHREÄ
#FFCE54 KELTAINEN
#ED5564 PUNAINEN
*/ 