html {
    background-color: #4FC1E8;
}

h1 {
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
    font-size: 4.5em;
    margin: 15px;
    text-transform: none;
    text-align: center;
}

div {
    width: 100%;
    margin: auto; /*Keskitetään div leveyssuunnassa*/
    background-color:whitesmoke;
    padding: 1em;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

a:visited { /* linkin fontin väri */
    color: #696969;

}

a:hover {
    color: #696969;
    font-size: 17px;
    font-weight: bolder;
}

li a:hover {
    background-color: #6cc0b8;
}

ul {
    background-color: #9cd4cc;
}

p {
    width: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #4FC1E8;
    padding: 1em;

}

footer img {
    float: right;
    height: 80px;
    width: 120px;
}


/* 
Värit:
#AC92EB liila
#4FC1E8 SININEN
#A0D568 VIHREÄ
#FFCE54 KELTAINEN
#ED5564 PUNAINEN
*/ 